@model List<xxx>
@{
    ViewData["Title"] = "Oyuncak";
}
<div class="text-center">
    <h1 class="display-4">Oyuncak</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="divilk">
    <div class="divlink11">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:20px;text-decoration:none;">Edebiyat</span>
        </a>
    </div>
    <div class="divlink1">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:30px; text-decoration:none;">Tarih</span>
        </a>
    </div>
    <div class="divlink1">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:25px;text-decoration:none;">Çocuk</span>
        </a>
    </div>
    <div class="divlink1">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:30px;text-decoration:none;">Eğitim</span>
        </a>
    </div>
    <div class="divlink1">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:35px;text-decoration:none;">Din</span>
        </a>
    </div>
    <div class="divlink2">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:23px; text-decoration:none;">Sanat</span>
        </a>
    </div>
    <div class="divlink1">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:20px;">Felsefe</span>
        </a>
    </div>
    <div class="divlink1">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:20px;text-decoration:none;">Roman</span>
        </a>
    </div>
    <div class="divlink1">
        <a style="text-decoration: none;color:black;" asp-area="" asp-controller="home" asp-action="Elektronik">
            <div class="divaltlink1">
                <img class="resim1" src="https://1.bp.blogspot.com/-na8pWVGy-z8/YJmxjpjAf7I/AAAAAAAAGVc/DGG3HvTL1Lgrd0wEB45VlIA9mNXu28zXgCLcBGAsYHQ/s1920/Html%2BProgramlamaHocam.jpg">
            </div>
            <span style="margin-left:25px;text-decoration:none;">Bilim</span>
        </a>
    </div>

</div>

<div class="ilanx">

    <div class="ilansablonx">
        <div class="urun1x">
            <span style="color:black;">Başlık</span>
        </div>
        <div class="urun2x">
            <span style="color:black;">Açıklama</span>
        </div>
        <div class="urun3x">
            <span style="color:black;">Fiyat</span>
        </div>
        <div class="urun4x">
            <span style="color:black;">Kategori</span>
        </div>
        <div class="urun5x">
            <span style="color:black;">Resim</span>
        </div>
    </div>
</div>
<div class="ilan1">
    @foreach (var raw in Model)
    {
        <div class="ilansablon">
            <div class="urun1">
                <span style="color:black;">@raw.baslık</span>
            </div>
            <div class="urun2">
                <span style="color:black;">@raw.id</span>
            </div>
            <div class="urun3">
                <span style="color:black;"> @raw.fiyat</span>
            </div>
            <div class="urun4">
                <span style="color:black;"> @raw.kategori</span>
            </div>
            <div class="urun5">
                <img class="resim1" src="@raw.resim">
            </div>
        </div>
    }
</div>